<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>War time planner</title>
</head>
<body>
<h1>War time planner</h1>
<h2>Current time</h2>
<p>🕒 {{ current_time  }} </p>

<h2>To do list</h2>
<form method="POST">
    <input type="text" name="task" placeholder="Enter task here!" required>
    <button>Submit</button>
</form>
<ul>
    {% for task in todo_items %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>
</body>
</html>
